In [11]:
import pandas as pd
import numpy as np
data = pd.read_csv("/Users/arsenbity/Desktop/techlab_ds04/datasets/rejected_2007_to_2018Q4-2.csv")

data.shape 
data.head 
data.sample(5)
data.sample(5)

data.info()

data.describe()

pd.isnull(data).head()

data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
25001673,2000.0,2017-04-27,Debt consolidation,628.0,32.82%,276xx,NC,< 1 year,0.0
8777287,2000.0,2014-08-01,car,709.0,33.19%,018xx,MA,< 1 year,0.0
6074261,10000.0,2018-08-29,Debt consolidation,NaN,92.8%,234xx,VA,< 1 year,0.0
21844807,3000.0,2015-01-18,debt_consolidation,635.0,22.39%,272xx,NC,< 1 year,0.0
13520726,4000.0,2017-09-28,other,NaN,1.17%,805xx,CO,5 years,0.0
20156241,5000.0,2017-10-21,Home buying,580.0,0.3%,531xx,WI,< 1 year,0.0
11879694,10000.0,2017-07-17,Debt consolidation,561.0,14.4%,327xx,FL,< 1 year,0.0
22276087,5000.0,2015-03-31,debt_consolidation,621.0,4.35%,871xx,NM,< 1 year,0.0
23672537,25000.0,2015-09-30,debt_consolidation,NaN,42.48%,921xx,CA,< 1 year,0.0
12174454,10000.0,2017-07-28,Debt consolidation,628.0,10.63%,372xx,TN,< 1 year,0.0